@font-face {
    font-family: 'GTBold';
    src: url('../src/fonts/GTWalsheimPro-Bold.ttf'); 
}
@font-face {
    font-family: 'GTRegular';
    src: url('../src/fonts/GTWalsheimPro-Regular.ttf'); 
}
@font-face {
    font-family: 'Maku';
    src: url('../src/fonts/maku_devanagari.ttf'); 
}

@font-face {
    font-family: 'Script';
    src: url('../src/fonts/MarckScript-Regular.ttf'); 
}

$offBlack: #252832;
$GTBold: 'GTBold', sans-serif;
$GTRegular: 'GTRegular', sans-serif;
$Maku: 'Maku', sans-serif;

html, body{
    background-color: $offBlack;
    min-height: 80vh;
}

@mixin centeredWhiteText{
    color: white;
    text-align: center;
}

.loader{
    text-align: center;
}

.script{
    font-family: $Maku !important;
    font-size: 260% !important;
}

.outerMain{
    position: relative;
}

@mixin inputEmail{
    @include centeredWhiteText();
    text-align: left;
    font-weight: 100;
    background-color: transparent;
    height: 100%;
    width: 70%;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 15px;
}

@mixin buttonEmail{
    background-color: #D41F58;
    color: white;
    font-family: $GTRegular;
    height: 100%;
    width: 30%;
    font-size: 25px;
    outline: none;
    border: none;
}
@mixin mainBannerBlurb{
    @include centeredWhiteText;
    font-family: $Maku;
    font-size: 30px;
    font-weight: 500;
}

@media all and (min-width: 723px) {
    // NORMAL

    .mainBanner{
        height: 100vh;
        width: 80vw;
        display: flex;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: 15vh auto 0 auto;
    }

    .fadingAnim{
        animation: fadein 3s;
    }
    
    .mainBannerText{
        @include centeredWhiteText;
        font-family: $GTBold;
        font-size: 70px;
        margin: 0;
    }

    .logoMain{
        display: block;
        margin: 2.5vw auto;
        width: 160px;
        margin-top: 0;
        // margin: 2.5vw;
    }
    
    .mainBannerBlurb{
        @include mainBannerBlurb();
        margin: 5vh auto;
    }
    
    .mainBannerDisclaimer{
        @include centeredWhiteText;
        font-family: $GTRegular;
        font-weight: 100;
        font-size: 15px;
    }
    
    
    .form{
        height: 75px;
        width: 600px;
        margin: 0 auto;
        margin-bottom: 4vh;
        background-color: #323643;
        display: flex;
        justify-content: space-between;
    }
    
    .inputEmail{
        @include inputEmail();
    }
    
    .buttonEmail{
        @include buttonEmail();
    }
    
    .button.buttonEmail{
        margin: 0;
    }
    
    .successText{
        @include centeredWhiteText();
        font-family: $GTBold;
        font-size: 50px;
    }
    

}


@media all and (max-width: 723px) {
    // MOBILE


    .mainBanner{
        margin: 5vh 5%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logoMain{
        display: block;
        margin: 2.5vw auto;
        width: 30vw;
    }
    .mainBannerText{
        @include centeredWhiteText;
        font-family: $GTBold;
        font-size: 8.5vw;
    }

    .mainBannerBlurb{
        @include mainBannerBlurb();
        margin: 1vh auto;
    }


    
    .form{
        width: 85vw;
        margin: 40px auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .inputEmail{
        @include inputEmail();
        background-color: #323643;
        height: 15vw;
        width: 100%;
        font-size: 6vw;
        padding-left: 3vw;
    }
    
    .buttonEmail{
        @include buttonEmail();
        margin: 20px auto;
        height: 15vw;
        width: 50%;
        font-size: 5vw;
    }
    .mainBannerDisclaimer{
        @include centeredWhiteText;
        font-family: $GTRegular;
        font-weight: 100;
        font-size: 2.5vw;
        // margin-top: 10vh;
    }
    
    .formContainer{
        // height: 25vh;
    }
    .successText{
        @include centeredWhiteText();
        font-family: $GTBold;
        font-size: 6vw;

    }
    .fadingAnim{
        animation: fadein 3s;
    }

    .script{
        font-family: $Maku !important;
        font-size: 10vw !important;
    }
    
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (min-width: 723px) and (max-width:1024px) {
    .mainBannerText{
        @include centeredWhiteText;
        font-family: $GTBold;
        font-size: 60px;
        margin: 0;
    }

    .mainBannerBlurb{
        @include centeredWhiteText;
        font-size: 30px;
        font-family: $Maku;
        font-weight: 500;
        margin: 5vh auto;
    }
    

    
}