@font-face {
    font-family: 'GTBold';
    src: url('../src/fonts/GTWalsheimPro-Bold.ttf'); 
}
@font-face {
    font-family: 'GTRegular';
    src: url('../src/fonts/GTWalsheimPro-Regular.ttf'); 
}
@font-face {
    font-family: 'Maku';
    src: url('../src/fonts/maku_devanagari.ttf'); 
}

$offBlack: #252832;
$GTBold: 'GTBold', sans-serif;
$GTRegular: 'GTRegular', sans-serif;
$Maku: 'Maku', sans-serif;

html, body{
    background-color: $offBlack;
    min-height: 80vh;
}

@mixin centeredWhiteText{
    color: white;
    text-align: center;
}

.loader{
    text-align: center;
}


.outerMain{
    position: relative;
}

@media all and (min-width: 723px) {
    // NORMAL

    .mainBanner{
        height: 100vh;
        width: 80vh;
        display: flex;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: 15vh auto 0 auto;
    }
    .fadingAnim{
        animation: fadein 3s;
    }
    
    .mainBannerText{
        @include centeredWhiteText;
        font-family: $GTBold;
        font-size: 70px;
        margin: 0;
    }

    .logoMain{
        display: block;
        margin: 2.5vw auto;
        width: 160px;
        margin-top: 0;
        // margin: 2.5vw;
    }
    
    .mainBannerBlurb{
        @include centeredWhiteText;
        font-size: 35px;
        font-family: $Maku;
        font-weight: 500;
        margin: 5vh auto;
    }
    
    .mainBannerDisclaimer{
        @include centeredWhiteText;
        font-family: $GTRegular;
        font-weight: 100;
        font-size: 15px;
    }
    
    
    
    .form{
        height: 75px;
        width: 600px;
        margin: 0 auto;
        margin-bottom: 4vh;
        background-color: #323643;
        display: flex;
        justify-content: space-between;
    }
    
    .inputEmail{
        color: white;
        font-family: $GTRegular;
        font-weight: 100;
        background-color: transparent;
        height: 100%;
        width: 70%;
        font-size: 20px;
        border: none;
        padding-left: 2vw;
    }
    
    .buttonEmail{
        background-color: #D41F58;
        color: white;
        font-family: $GTRegular;
        height: 100%;
        width: 30%;
        font-size: 25px;
        border: none;
    }
    
    .button.buttonEmail{
        margin: 0;
    }
    
    .successText{
        @include centeredWhiteText();
        font-family: $GTBold;
        font-size: 3vw;
    }
    

}


@media all and (max-width: 723px) {
    // MOBILE


    .mainBanner{
        margin: 5vh 5%;
        height: 90vh;
    }

    .logoMain{
        display: block;
        margin: 2.5vw auto;
        width: 30vw;
    }
    .mainBannerText{
        @include centeredWhiteText;
        font-family: $GTBold;
        font-size: 8.5vw;
    }

    .mainBannerBlurb{
        @include centeredWhiteText;
        font-size: 7vw;
        font-family: $Maku;
        font-weight: 500;
        margin: 1vh auto;
    }


    
    .form{
        height: 15vw;
        width: 85vw;
        margin: 7vh auto;
        background-color: #323643;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .inputEmail{
        @include centeredWhiteText();
        font-family: $GTRegular;
        font-weight: 100;
        background-color: transparent;
        height: 100%;
        width: 100%;
        font-size: 6vw;
        border: none;
        padding-left: 3vw;
    }
    
    .buttonEmail{
        margin: 3vh auto;
        background-color: #D41F58;
        color: white;
        font-family: $GTRegular;
        height: 100%;
        width: 50%;
        font-size: 5vw;
        border: none;
    }
    .mainBannerDisclaimer{
        @include centeredWhiteText;
        font-family: $GTRegular;
        font-weight: 100;
        font-size: 2.5vw;
        // margin-top: 10vh;
    }
    
    .formContainer{
        height: 25vh;
    }
    .successText{
        @include centeredWhiteText();
        font-family: $GTBold;
    }
    .fadingAnim{
        animation: fadein 3s;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}