@font-face {
    font-family: 'GTBold';
    src: url('../src/fonts/GTWalsheimPro-Bold.ttf'); 
}
@font-face {
    font-family: 'GTRegular';
    src: url('../src/fonts/GTWalsheimPro-Bold.ttf'); 
}

$offBlack: #252832;
$GTBold: 'GTBold', sans-serif;
$GTRegular: 'GTRegular', sans-serif;

html, body{
    background-color: $offBlack;
    min-height: 100vh;
}

.mainBanner{
    color: white;
    font-family: $GTBold;

}