@font-face {
  font-family: "GTBold";
  src: url("../src/fonts/GTWalsheimPro-Bold.ttf");
}
@font-face {
  font-family: "GTRegular";
  src: url("../src/fonts/GTWalsheimPro-Bold.ttf");
}
@font-face {
  font-family: "Maku";
  src: url("../src/fonts/maku_devanagari.ttf");
}
html, body {
  background-color: #252832;
  min-height: 80vh;
}

.outerMain {
  position: relative;
}

@media all and (min-width: 723px) {
  .mainBanner {
    height: 100vh;
    width: 80vh;
    display: flex;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fadingAnim {
    animation: fadein 3s;
  }

  .mainBannerText {
    color: white;
    text-align: center;
    font-family: "GTBold", sans-serif;
    font-size: 4.5vw;
    margin: 0;
  }

  .logoMain {
    display: block;
    margin: 2.5vw auto;
    width: 10vw;
    margin-top: 0;
  }

  .mainBannerBlurb {
    color: white;
    text-align: center;
    font-size: 2.2vw;
    font-family: "Maku", sans-serif;
    font-weight: 500;
    margin: 5vh auto;
  }

  .mainBannerDisclaimer {
    color: white;
    text-align: center;
    font-family: "GTRegular", sans-serif;
    font-weight: 100;
    font-size: 0.8vw;
  }

  .form {
    height: 4.5vw;
    width: 35vw;
    margin: 0 auto;
    margin-bottom: 4vh;
    background-color: #323643;
    display: flex;
    justify-content: space-between;
  }

  .inputEmail {
    color: white;
    font-family: "GTRegular", sans-serif;
    font-weight: 100;
    background-color: transparent;
    height: 100%;
    width: 70%;
    font-size: 1.3vw;
    border: none;
    padding-left: 2vw;
  }

  .buttonEmail {
    background-color: #D41F58;
    color: white;
    font-family: "GTRegular", sans-serif;
    height: 100%;
    width: 30%;
    font-size: 1.3vw;
    border: none;
  }

  .button.buttonEmail {
    margin: 0;
  }

  .successText {
    color: white;
    text-align: center;
    font-family: "GTBold", sans-serif;
    font-size: 3vw;
  }
}
@media all and (max-width: 723px) {
  .mainBanner {
    margin: 5vh 5%;
    height: 90vh;
  }

  .logoMain {
    display: block;
    margin: 2.5vw auto;
    width: 30vw;
  }

  .mainBannerText {
    color: white;
    text-align: center;
    font-family: "GTBold", sans-serif;
    font-size: 8.5vw;
  }

  .mainBannerBlurb {
    color: white;
    text-align: center;
    font-size: 7vw;
    font-family: "Maku", sans-serif;
    font-weight: 500;
    margin: 1vh auto;
  }

  .form {
    height: 15vw;
    width: 85vw;
    margin: 7vh auto;
    background-color: #323643;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .inputEmail {
    color: white;
    text-align: center;
    font-family: "GTRegular", sans-serif;
    font-weight: 100;
    background-color: transparent;
    height: 100%;
    width: 100%;
    font-size: 6vw;
    border: none;
    padding-left: 3vw;
  }

  .buttonEmail {
    margin: 3vh auto;
    background-color: #D41F58;
    color: white;
    font-family: "GTRegular", sans-serif;
    height: 100%;
    width: 50%;
    font-size: 5vw;
    border: none;
  }

  .mainBannerDisclaimer {
    color: white;
    text-align: center;
    font-family: "GTRegular", sans-serif;
    font-weight: 100;
    font-size: 2.5vw;
    margin-top: 10vh;
  }

  .formContainer {
    height: 30vh;
  }

  .successText {
    color: white;
    text-align: center;
    font-family: "GTBold", sans-serif;
  }

  .fadingAnim {
    animation: fadein 3s;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=App.css.map */
